$color_203864: #203864;
$color_2038641f: #2038641f;

$color_758ABA: #758aba;
$color_4B64A4: #4b64a4;
$color_bg_4B64A4: #4b64a41f;

$color_E0EBFF: #e0ebff;

$color_9FA6B3: #9fa6b3;
$color_5C616C: #5c616c;

$color_FF9F00: #ff9f00;
$color_FF3F55: #ff3f55;

$color_DDF4ED: #ddf4ed;
$color_586A7A: #586a7a;

$color_D5DCE3: #d5dce3;
$color_475462: #475462;

$color_fff: #ffffff;
$color_DBDBDB: #dbdbdb;

$color_B4BBC3: #b4bbc3;
$color_4B8ABD: #4b8abd;

$color_005F99: #005f99;
$color_232E3A: #232e3a;

$color_D7ECFF: #d7ecff;
$color_55C7A4: #55c7a4;
$color_FFA319: #ffa319;
$color_FFA3191f: #ffa3191f;

$color_99A2AC: #99a2ac;
$color_EBEFF2: #ebeff2;

$color_FF3F55: #FF3F55;
$bg_color_FF3F55: rgba(255, 63, 85, 0.12);

$color_98A3B2: #98A3B2;
$color_334D6E: #334D6E;

$color_5381E9: #5381E9;
$color_28C76F: #28C76F;
