$base_fontfamily: "DM Sans";

$font_weight_400: 400;
$font_weight_500: 500;
$font_weight_700: 700;

$font_size_12: 12px;
$font_size_13: 13px;
$font_size_14: 14px;
$font_size_16: 16px;
$font_size_18: 18px;
$font_size_20: 20px;
$font_size_22: 22px;
$font_size_24: 24px;
$font_size_32: 32px;

$line_height_17: 17px;
$line_height_18: 18px;
$line_height_21: 21px;
$line_height_24: 24px;
$line_height_40: 40px;

$letter-spacing: 0.1px;
$letter-spacing_2: 0.2px;
$letter-spacing_5: 0.5395px;

$radius_25: 25px;

$width_36: 36px;
$width_130: 130px;
$width_150: 150px;
$width_180: 180px;
$width_210: 210px;
$width_250: 250px;
$width_300: 300px;

$height_44: 44px;
$height_36: 36px;
$height_100: 100vh;

$space_8: 8px;
$space_12: 12px;
$space_16: 16px;
$space_20: 20px;
$space_21: 21px;
$space_25: 25px;
$space_30: 30px;
$space_40: 40px;
$space_60: 60px;
$space_110: 110px;
$space_149: 149px;
$space_230: 230px;

$box-shadow: 0px 4px 20px rgba(60, 60, 60, 0.1);

$border-radius_6: 6px;
$border-radius_24: 24px;
$border-radius_50: 50%;